<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>烯牛数据-欢迎进入量化VC时代</title>
</head>
<body >
    <div style="font-size: 15px; display: inline-block; width: 100%; padding: 0 20px; text-align: center">
        <header style="padding: 20px 0; border-bottom: 1px solid #c6d0d8; color: #666">
                <img src="http://${data['host']}/resources/image/site-v2/header/logo.png"
                     width="142"
                     height="32"
                     style="margin: 0 auto 10px;"
                />
            <div style="font-size: 22px;">
                欢迎进入量化VC时代
            </div>
        </header>
        <div style="width: 520px;
                    margin: 0 auto;
                    text-align: left;
                    color: #666;">
            <div style="font-size: 16px; margin: 20px 0 10px; color:#111;">Hi ${data['user']['username']}，</div>

            <div style="padding: 10px 0">
                欢迎你成为烯牛数据第一批正式用户，与我们一同开启量化VC时代。
            </div>

            <div style="padding: 10px 0">
                <div style="color: #111; margin-bottom: 10px;">
                    现在，我们邀请你成为「认证投资人」，体验更多专属功能：
                </div>
                <ul>
                    <li style="margin: 10px 0;">
                        基于大数据发现和解析热门行业，提前告诉你下一个风口在哪里
                    </li>
                    <li style="margin: 10px 0;">
                        查看各大FA精选项目、媒体报道项目等专辑
                    </li>
                    <li style="margin: 10px 0;">
                        试用烯牛数据机构版，获得投前、投中、投后全流程量化数据支持
                    </li>
                    <li style="margin: 10px 0;">
                        加入烯牛核心用户群，与行业内的投资达人和技术大牛交流切磋
                    </li>
                </ul>
            </div>
        </div>

        <div style="margin: 20px 0; color:#666;">
            <div style="font-size: 16px; margin-bottom: 10px;">
                扫描下方二维码，关注微信公众号「烯牛小助手」，<span style="font-size: 18px;">将名片发送给我们</span>；
            </div>
            <div style="font-size: 15px; color: #999; margin-bottom: 10px">
                我们会在一个工作日内完成审核。
            </div>

            <img src="http://${data['host']}/resources/image/icon-system/verify/bg-wechat-qrcode.jpg"
                 width="200"
                 height="200"
                 style="margin: 0 auto 20px;"
            />

            <div style="margin-bottom: 10px;">
                工作开心 ：）
            </div>
            <div style="margin-bottom: 10px;">
                烯牛数据团队
            </div>
            <div>
                <a href="http://${data['host']}" style="color: #333;">${data['host']}</a>
            </div>
        </div>
    </div>
</body>
</html>