<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>「烯牛数据」机构版试用还剩【${data["left_days"]}】天，立即升级为正式版</title>
</head>
<body >
    <div style="font-size: 15px; display: inline-block; width: 100%; padding: 0 20px; text-align: center">
        <header style="padding: 20px 0; border-bottom: 1px solid #c6d0d8; color: #666">
                <img src="http://www.xiniudata.com/file/xiniudata_logo.png"
                     width="142"
                     height="32"
                     style="margin: 0 auto 10px;"
                />
            <div style="font-size: 22px">
                投资人都在用的创投数据平台
            </div>
        </header>
        <div style="width: 550px;
                    margin: 0 auto;
                    text-align: left;
                    color: #666;">
            <div style="font-size: 16px; margin: 20px 0 10px; color:#111;">Hi ${data['to_user']['username']},</div>

            <div style="padding: 10px 0">
                烯牛数据机构版试用即将在【${data["left_days"]}】天后到期，届时您和您的同事将不能继续使用“追踪”、“项目推荐”、“数据导出”等机构版功能。
            </div>
        </div>

        <div style="width: 550px;
                    margin: 0 auto;
                    text-align: left;
                    color: #666;">
            <div style="padding: 10px 0">
                如果您还没来得及体验，请抓紧时间体验机构版；
            </div>
            <div style="padding: 10px 0; color: #333; font-size: 16px;">
                如果您对我们的产品满意，我们邀请您升级为正式版本：
            </div>
            <ul>
                <li style="margin: 10px 0;">
                实时追踪关注的公司或机构，不错过一点动态
                </li>
                <li style="margin: 10px 0;">
                从众多探测源挖掘来的优质项目，每日持续专属推送
                </li>
                <li style="margin: 10px 0;">
                海量数据可导出，公司库，事件库，机构库一网打尽
                </li>
            </ul>
        </div>

        <div style="width: 550px;
                    margin: 0 auto;
                    text-align: left;
                    display: inline-block;
                    color: #666;">
             <div style="padding: 10px 0; color: #333;">
                    欢迎随时通过以下方式联系我们升级；也欢迎向我们反馈任何问题与建议：
             </div>

            <div style="display:inline-block; width: 275px; float: left;">
                <div style="padding: 5px 0">
                    华北地区请联系:
                </div>
                <div style="padding: 5px 0">
                    Charlotte
                </div>
                <div style="padding: 5px 0">
                    电话/微信: 18401796835
                </div>
                <div style="padding: 5px 0">
                    邮件:      charlotte@xiniudata.com
                </div>
            </div>
            <div style="display:inline-block; width: 275px; float: left;">
                <div style="padding: 5px 0">
                    华东/华南及其他地区请联系:
                </div>
                <div style="padding: 5px 0">
                    高伟
                </div>
                <div style="padding: 5px 0">
                    电话/微信: 18721285509
                </div>
                <div style="padding: 5px 0">
                    邮件:      wei.gao@xiniudata.com
                </div>
            </div>
        </div>

        <div style="margin: 20px 0; color:#666;">
            <div style="margin-bottom: 10px;">
                烯牛数据团队
            </div>
            <div>
                <a href="https://vip.xiniudata.com" style="color: #333;">vip.xiniudata.com</a>
            </div>
            <div>
                <a href="https://www.xiniudata.com" style="color: #333;">www.xiniudata.com</a>
            </div>
            <img src="http://www.xiniudata.com/file/xiniudata_xiniuxiaozhushou.jpg"
                 width="200"
                 height="200"
                 style="margin: 0 auto 20px;"
            />
        </div>
    </div>
</body>
</html>