<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${data['user']['username']}邀请您加入烯牛数据</title>
</head>
<body >
    <div style="font-size: 15px; display: inline-block; width: 100%; padding: 0 20px; text-align: center">
        <header style="padding: 20px 0; border-bottom: 1px solid #c6d0d8; color: #666">
                <img src="http://${data['host']}/resources/image/site-v2/header/logo.png"
                     width="142"
                     height="32"
                     style="margin: 0 auto 10px;"
                />
            <div style="font-size: 22px;">
                这是一封邀请函
            </div>
        </header>
        <div style="width: 510px;
                    margin: 0 auto;
                    text-align: left;
                    color: #666;">
            <div style="font-size: 16px; margin: 20px 0 10px; color:#111;">Hi</div>

            <div style="padding: 10px 0">
                你相信机器可以帮你找案子吗？
            </div>

            <div style="padding: 10px 0">
                你相信机器可以帮你做DD、管portfolio吗？
            </div>

            <div style="padding: 10px 0">
                你相信机器可以帮你复盘项目吗？
            </div>

            <div style="padding: 10px 0; color:#111">
                投资人们都爱用的烯牛数据邀请你共同开启量化VC时代，我们的主要功能：
            </div>
        </div>

        <div style="width: 510px;
                    margin: 0 auto;
                    text-align: center;
                    color: #666;">
            <div style="margin: 0 auto; width:400px; display:inline-block">
                <img src="http://${data['host']}/resources/image/icon-system/verify/ad.jpg"
                 width="400"
                 style="margin: 0 auto 20px;"
                />
            </div>
            <div style="padding: 10px 0">
                还等什么？
            </div>
            <div style="padding: 10px 0; margin:0 auto; width: 120px">
                <a href="http://${data['host']}" style="
                        width: 120px;
                        border-radius: 30px;
                        background: #05b8bf;
                        color: #fff;
                        text-decoration: none;
                        height: 40px;
                        display:inline-block;
                        line-height: 40px;
                        text-align: center;"
                >接受邀请</a>
            </div>
        </div>

        <div style="margin: 20px 0; color:#666;">
            <div style="margin-bottom: 10px;">
                烯牛数据团队
            </div>
            <div>
                <a href="http://${data['host']}" style="color: #333;">${data['host']}</a>
            </div>
            <img src="http://${data['host']}/resources/image/icon-system/verify/bg-wechat-qrcode.jpg"
                 width="200"
                 height="200"
                 style="margin: 0 auto 20px;"
            />
        </div>
    </div>
</body>
</html>