<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>烯牛数据-投资人认证通过，感谢你的信任！</title>
</head>
<body >
    <div style="font-size: 15px; display: inline-block; width: 100%; padding: 0 20px; text-align: center;
                line-height: 1.5
    ">
        <header style="padding: 20px 0; border-bottom: 1px solid #c6d0d8; color: #666">
                <img src="http://${data['host']}/resources/image/site-v2/header/logo.png"
                     width="142"
                     height="32"
                     style="margin: 0 auto 10px;"
                />
            <div style="font-size: 22px;">
                这是一封感谢信
            </div>
        </header>
        <div style="width: 540px;
                    margin: 0 auto;
                    text-align: left;
                    color: #666;">
            <div style="font-size: 16px; margin: 20px 0 10px; color:#111;">Hi ${data['user']['username']}，</div>

            <div style="padding: 10px 0">
                我是烯牛数据的创始人李锦香，你的投资人认证已通过，感谢你对我们产品的信任。
            </div>

            <div style="padding: 10px 0">
                我希望烯牛数据能够让你的工作更高效；
            </div>

            <div style="padding: 10px 0">
                <div style="color: #111; margin-bottom: 10px;">
                    如果你所在的机构还没有一套很好的管理系统，建议你试试我们的<span style="text-decoration:underline">机构版</span>，体验基于大数据的工作方式：
                </div>
                <ul>
                    <li style="margin: 10px 0;">
                        投前发现：数十万项目数据库动态更新，基于大数据提升案源质量；
                    </li>
                    <li style="margin: 10px 0;">
                        投中推进：实时记录项目执行全程，方便内部协同及复盘；
                    </li>
                    <li style="margin: 10px 0;">
                        投后管理：追踪监测Portfolio及其竞品业绩表现；
                    </li>
                    <li style="margin: 10px 0;">
                        内部管理：投资漏斗统计、基金项目库、例会功能等等。
                    </li>
                </ul>
            </div>

            <div style="padding: 10px 0; margin:-20px auto 10px; width: 120px">
                <a href="http://${data['host']}" style="
                        width: 120px;
                        border-radius: 30px;
                        background: #05b8bf;
                        color: #fff;
                        text-decoration: none;
                        height: 40px;
                        display:inline-block;
                        line-height: 40px;
                        text-align: center;"
                >立即体验</a>
            </div>

        </div>

        <div style="width: 540px;
                    margin: 0 auto;
                    text-align: left;
                    color: #666;">
            <div style="padding: 10px 0">
                ——广告结束，这是第一封CEO mail，请允许我和我曾经的同行们多说两句——
            </div>
            <div style="padding: 10px 0">
                2016年，我决定创业。创业前，我曾是一家VC的投资副总裁，VC我做了四年，也算一枚老兵了。
            </div>
            <div style="padding: 10px 0">
                一直以来，我坚信数据会说话，然而市面上我却找不到一款产品，能够基于创业项目本身的数据表现，帮我找案子、管案子。
            </div>
            <div style="padding: 10px 0">
                于是我决定自己出来做一个。
            </div>
            <div style="padding: 10px 0">
                但我也需要你！如果你和我一样相信技术的力量，愿意吐槽bug，提提产品建议，请加我的微信 186 0100 5034，我会把你拉入我们的「烯牛军团核心用户群」。谢谢:)
            </div>
        </div>

        <div style="margin: 20px 0; color:#666;">
            <div style="margin-bottom: 10px;">
                李锦香
            </div>
            <div style="margin-bottom: 10px;">
                烯牛数据 创始人
            </div>
            <div style="margin-bottom: 10px;">
                手机/微信 18601005034
            </div>
            <div>
                <a href="http://${data['host']}" style="color: #333;">${data['host']}</a>
            </div>
            <img src="http://${data['host']}/resources/image/icon-system/verify/bg-wechat-qrcode.jpg"
                 width="200"
                 height="200"
                 style="margin: 0 auto 20px;"
            />
        </div>
    </div>
</body>
</html>