<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav nav-side" id="side-menu">
            <li class="nav-header">
				
                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                                <span class="block m-t-xs">
                                	<i class="fa fa-user fa-lg"></i>
                                   	 <span class=" m-l-xs"> {{main.userName}} </span>
                            	 </span>
                             <!-- 
                                <span class="text-muted text-xs block">{{'MENU' | translate }}<b class="caret"></b></span>
                            </span>
                             -->
                    </a>
                    <!--  
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li ng-controller="BasicModalCtrl">
                        	<a ng-click="open('profile')">{{'PROFILE' | translate }}</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="./api/user/logout">{{'LOGOUT' | translate }}</a></li>
                    </ul>
                    -->
                </div>
                <div class="logo-element">
                    Sedna
                </div>

            </li>

            <li id="li-home" class='li-nav'>
                <a  href='#/index/home'><i class="fa fa-home fa-lg"></i> <span class="nav-label">{{'HOME' | translate}}</span> </a>
            </li>

            <li id="li-search" class='li-nav'>
                <a   href='#/index/search' ><i class="fa fa-search fa-lg"></i> <span class="nav-label">{{'COMPANY_SEARCH' | translate}}</span> </a>
            </li>
            
            <li id="li-searches" class='li-nav'>
                <a   href='#/index/searches' ><i class="fa fa-save fa-lg"></i> <span class="nav-label">{{'SAVED_SEARCHES' | translate}}</span></a>
            </li>
            
            <li id="li-follow" class='li-nav'>
                <a   href='#/follow/data' ><i class="fa fa-heart fa-lg"></i> <span class="nav-label">{{'FOLLOWING' | translate}}</span></a>
            </li>

            <li id="li-list" class='li-nav'>
                <a   href='#/index/my_list'><i class="fa fa-list fa-lg"></i> <span class="nav-label">{{'MY_LIST' | translate}}</span></a>
            </li>
            
            <li id="li-crowdfunding" class='li-nav'>
                <a   href='#/index/crowdfunding/all/all' ><i class="fa fa-cubes fa-lg"></i> <span class="nav-label">{{'CROWD_FUNDING' | translate}}</span></a>
            </li>

			<!-- 
            <li ui-sref-active="active">
                <a ui-sref="index.listSearch"><i class="fa fa-th-large fa-lg"></i> <span class="nav-label">{{'LIST_SEARCH' | translate}}</span></a>
            </li>
             -->
        </ul>

    </div>
</nav>

<script>
function active(){
	var url = window.location.href;
	var li;
	if(url.indexOf('home') > 0)	 li = $('#li-home');
	if(url.indexOf('search') > 0 && url.indexOf('searches') < 0)	li = $('#li-search');
	if(url.indexOf('searches') > 0)	li = $('#li-searches');
	if(url.indexOf('follow') > 0)	li = $('#li-follow');
	if(url.indexOf('list') > 0) li = $('#li-list');
	if(url.indexOf('crowdfunding') > 0) li = $('#li-crowdfunding');
	if(li != null){
		li.addClass('active');
		li.siblings().removeClass('active');
	}
}


$(function(){
	active();
	
	$('.li-nav').click(function(){
		$(this).addClass('active');
		$(this).siblings().removeClass('active');
		
	})
})
	
	
	
</script>