<div ng-controller ='NewsCtrl'>
<div class="row wrapper  white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{'EVENTS' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a nav-href='home'>{{'HOME'| translate}}</a>
            </li>
            <li>
                <a nav-href='search'>{{'COMPANY_SEARCH' | translate}}</a>
            </li>
            <li class="active">
                <a href="#/company/overview?{{news.companyId}}"><strong>{{news.productName}}</strong></a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  article m-b-n-xl">
    
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                    </div>
                    <div class="text-center m-b-xl">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> {{news.newsDate}}</span>
                        <p/>
                        <h2>
                            <strong>{{news.newsTitle}}</strong>
                        </h2>
                    </div>
                  	<div ng-repeat="content in news.contentList track by $index">
			         	  <p ng-show='content.content != null && content.content != ""'>
			         	  	{{content.content}}
			         	  </p>
			         	  
			         	   <p ng-hide='content.content != null && content.content != ""' style="text-align:center">
			         	  		<img src="{{content.image}}"  width='90%'/>
			         	  </p>
			         	  
			         </div>
                    <hr>
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>