<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行业追踪日报</title>
</head>
<body style="font-size: 12px; line-height: 1.5; max-width: 610px">
<section>
    <header>Hi 马永琦，</header>
    <div style="margin-top: 20px;">您在烯牛数据关注了【18】个热门领域，
        今天为您追踪到【19】条动态。
    </div>
    <div style="color: #999">(点击下划线内容可跳转烯牛数据网站查看详情)</div>
    <div style="margin-top: 10px;">追踪时间：11月10日19:00 ~ 11月11日19:00 </div>
</section>

<section style="margin-top: 0px; max-width: 600px">
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">1.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/299/overview" style="color:#333">社区无人零售</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                    <div style="position: relative; padding-left: 65px; display: inline-block; width: 100%">
                    <a href="http://www.xiniudata.com/#/company/NDLZ1OK8/overview" style="color:#333">美刻在线</a>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/guoxuekeji/overview" style="color:#333; margin-bottom: 5px">简24</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>简24的一款Android应用简24发布了新版本1.1.2
                    </div>
                </div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        2)
                        <a href="http://www.xiniudata.com/#/company/c6ff639c-08f4-42ee-8677-40da56aa5606/overview" style="color:#333; margin-bottom: 5px">24爱购</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>24爱购的一款iOS应用24爱购有重大版本2.0.1更新
                    </div>
                </div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        3)
                        <a href="http://www.xiniudata.com/#/company/NDLZ1OK8/overview" style="color:#333; margin-bottom: 5px">美刻在线</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>融资 </span>美刻在线获得新一轮融资
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">2.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/298/overview" style="color:#333">办公室零食</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">3.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/284/overview" style="color:#333">无人便利店</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                    <div style="position: relative; padding-left: 65px; display: inline-block; width: 100%">
                    <a href="http://www.xiniudata.com/#/company/WellGo/overview" style="color:#333">Well Go</a>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/c6ff639c-08f4-42ee-8677-40da56aa5606/overview" style="color:#333; margin-bottom: 5px">24爱购</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>24爱购的一款iOS应用24爱购有重大版本2.0.1更新
                    </div>
                </div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        2)
                        <a href="http://www.xiniudata.com/#/company/guoxuekeji/overview" style="color:#333; margin-bottom: 5px">简24</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>简24的一款Android应用简24发布了新版本1.1.2
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">4.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/283/overview" style="color:#333">开放货架</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">5.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/282/overview" style="color:#333">自动售货机</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">6.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/293/overview" style="color:#333">零售大数据</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">7.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/289/overview" style="color:#333">智能零售系统</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">8.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/296/overview" style="color:#333">无人自助结算</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">9.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/285/overview" style="color:#333">智能安防</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/1597ETFL/overview" style="color:#333; margin-bottom: 5px">大华股份</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>大华股份的一款iOS应用大华智能锁发布了新版本1.7.1
                    </div>
                </div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        2)
                        <a href="http://www.xiniudata.com/#/company/suoweizhineng/overview" style="color:#333; margin-bottom: 5px">梭维智能</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>正在融资 </span>人脸识别安防监控系统研发商, 梭维智能开启了新一轮融资
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">10.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/287/overview" style="color:#333">智能包装</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">11.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/286/overview" style="color:#333">智慧物流</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/cainiaowangluo24/overview" style="color:#333; margin-bottom: 5px">菜鸟网络</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>菜鸟网络的一款iOS应用众配宝发布了新版本2.7.1
                    </div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>新闻</span>
                        <a href="http://www.xiniudata.com/#/news/5a066cc3deb471015de9e0fb" target="_blank">《菜鸟智慧物流成绩：天猫双11首单仅用12分钟》</a>
                    </div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>新闻</span>
                        <a href="http://www.xiniudata.com/#/news/5a05ad3fdeb471015de9500c" target="_blank">《菜鸟打造末端机器人矩阵 智慧社区双11上线》</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">12.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/288/overview" style="color:#333">冷链物流</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/lengcanglianmeng4/overview" style="color:#333; margin-bottom: 5px">冷藏联盟</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>冷藏联盟的一款Android应用冷藏联盟发布了新版本1.6.2
                    </div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>冷藏联盟的一款iOS应用冷藏联盟发布了新版本1.4.2
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">13.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/294/overview" style="color:#333">仓储机器人</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">14.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/297/overview" style="color:#333">仓储服务商</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/fengchaokeji/overview" style="color:#333; margin-bottom: 5px">丰巢科技</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>丰巢科技的一款iOS应用丰巢管家发布了新版本2.10.0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">15.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/290/overview" style="color:#333">掌纹识别</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">已有公司：</div>
                <div style="display: inline-block; width: 100%; margin-left: 0px; margin-bottom: 1px">今天暂无动态</div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">16.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/292/overview" style="color:#333">虹膜识别</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/beidagaoke1206/overview" style="color:#333; margin-bottom: 5px">北大高科</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>北大高科的一款iOS应用武汉公安办案助手下架
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">17.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/291/overview" style="color:#333">人脸识别</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/ruiweirenlianshibie/overview" style="color:#333; margin-bottom: 5px">瑞为技术</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>瑞为技术的一款Android应用店客云及发布了新版本4.0.9
                    </div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>瑞为技术的一款iOS应用店客云及发布了新版本4.1.0
                    </div>
                </div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        2)
                        <a href="http://www.xiniudata.com/#/company/yuemiankeji/overview" style="color:#333; margin-bottom: 5px">阅面科技</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>阅面科技的一款iOS应用阅客发布了新版本0.94
                    </div>
                </div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        3)
                        <a href="http://www.xiniudata.com/#/company/beidagaoke1206/overview" style="color:#333; margin-bottom: 5px">北大高科</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>北大高科的一款iOS应用武汉公安办案助手下架
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; position: relative; display: inline-block; width: 100%;  max-width: 600px;
                border: 0px solid #eee; padding: 5px 10px 15px 0px;">
        <div style="width: 20px; position: absolute; left: 0px; top: 5px;">18.</div>
        <div style="width: 100%; display: inline-block; padding-left: 20px;">
            <div>
                <span style="float: left"></span>
                <span style="color: #111; font-size: 12px; font-weight: 600">热门领域：
                    <a href="http://www.xiniudata.com/#/industry/295/overview" style="color:#333">RFID解决方案</a>
                    </span>
            </div>

            <div style="margin-top: 1px; margin-bottom: 1px">
            <div style="display:inline-block; width: 100%;">
                <div style="position: absolute; width: 100px; left: 20px;">今日收录：</div>
                        <span style="margin-left: 65px;">无</span>
                    </div>
                </div>
            </div>

            <div style="position: relative; display: inline-block; width: 100%;">

                <div style="margin-bottom: 1px; margin-left: 20px">已有公司：</div>
                <div style="position: relative; display: inline-block; width: 100%; margin-left: 20px">
                    <div style="margin-bottom: 1px;">
                        1)
                        <a href="http://www.xiniudata.com/#/company/wanxiaoapp/overview" style="color:#333; margin-bottom: 5px">新开普电子</a></div>
                    <div style="margin-left: 20px; margin-bottom: 1px;">
                        <span>产品 </span>新开普电子的一款Android应用完美校园发布了新版本4.2.8
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div style="margin-top: 20px;">
        以上为本次追踪内容
    </div>
    <div>如有疑问，欢迎联系我们：）</div>

    <div style="margin-top: 10px;">
        <div style="color: #666">烯牛数据团队</div>
        <div>
            <a href="http://www.xiniudata.com" target="_blank">
                www.xiniudata.com
            </a>
        </div>
    </div>

    <div>
        <img src="http://www.xiniudata.com/resources/image/icon-system/verify/ios-normal.jpeg"/>
    </div>

</section>


</body>
</html>