/* Font */
.ft-14 {
  font-size: 14px;
}
.ft-15 {
  font-size: 15px;
}
.ft-16 {
  font-size: 16px;
}
.ft-17 {
  font-size: 17px;
}
.ft-18 {
  font-size: 18px;
}
.ft-19 {
  font-size: 19px;
}
.ft-20 {
  font-size: 20px;
}
.ft-22 {
  font-size: 22px;
}
.ft-26 {
  font-size: 26px;
}
/* MARGINS & PADDINGS */
.p-0 {
  padding: 0px;
}
.p-2 {
  padding: 2px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-25 {
  padding: 25px;
}
.p-30 {
  padding: 30px;
}
.p-40 {
  padding: 40px;
}
.p-50 {
  padding: 40px;
}
.m-0 {
  margin: 0 !important;
}
.m-2 {
  margin: 2px 4px;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}
.m-40 {
  margin: 30px;
}
.m-50 {
  margin: 50px;
}
.m-l-0 {
  margin-left: 0;
}
.m-l-5 {
  margin-left: 5px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-l--1 {
  margin-left: -1px;
}
.m-l--5 {
  margin-left: -5px;
}
.m-l--10 {
  margin-left: -10px;
}
.m-l--15 {
  margin-left: -15px;
}
.m-l--20 {
  margin-left: -20px;
}
.m-l--30 {
  margin-left: -30px;
}
.m-l--40 {
  margin-left: -40px;
}
.m-t-0 {
  margin-top: 0;
}
.m-t-1 {
  margin-top: 1px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-t--1 {
  margin-top: -1px;
}
.m-t--5 {
  margin-top: -5px;
}
.m-t--10 {
  margin-top: -10px;
}
.m-t--15 {
  margin-top: -15px;
}
.m-t--20 {
  margin-top: -20px;
}
.m-t--30 {
  margin-top: -30px;
}
.m-t--40 {
  margin-top: -40px;
}
.m-r-0 {
  margin-right: 0;
}
.m-r-1 {
  margin-right: 1px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-r--1 {
  margin-right: -1px;
}
.m-r--5 {
  margin-right: -5px;
}
.m-r--10 {
  margin-right: -10px;
}
.m-r--15 {
  margin-right: -15px;
}
.m-r--20 {
  margin-right: -20px;
}
.m-r--30 {
  margin-right: -30px;
}
.m-r--40 {
  margin-right: -40px;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-b-1 {
  margin-bottom: 1px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-b--1 {
  margin-bottom: -1px;
}
.m-b--5 {
  margin-bottom: -5px;
}
.m-b--10 {
  margin-bottom: -10px;
}
.m-b--15 {
  margin-bottom: -15px;
}
.m-b--20 {
  margin-bottom: -20px;
}
.m-b--30 {
  margin-bottom: -30px;
}
.m-b--40 {
  margin-bottom: -40px;
}
.space-5 {
  margin: 5px 0;
}
.space-10 {
  margin: 10px 0;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}
