<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           	http://www.springframework.org/schema/beans/spring-beans.xsd
        		http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context.xsd
           	http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:smtp.properties</value>
				<value>classpath:mongodb.properties</value>
				<value>classpath:kafka.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="mongodbConstant" class="com.tsb.vo.MongodbConstant" init-method="init">
		<property name="fileDir"><value>${mongodb.filedir}</value></property>
		<property name="host"><value>${mongodb.host}</value></property>
	</bean>
	
	<bean id="kafkaConstant" class="com.tsb.vo.KafkaConstant" init-method="init">
		<property name="list"><value>${broker.list}</value></property>
	</bean>
	
	<bean id="companyCreateVOUtil" class="com.tsb.util.CompanyCreateVOUtil">
	</bean>
	
</beans>