.tl-node > div.dd-item-body{
  margin-top: -3px;
}

.dd-title{
  font-size: 1.2em;
}

.dd-time, .dd-status{
  font-size: 0.9em;
}

.dd-detail{
  font-size: 1.1em;
}

.dd-detail > div{
  margin-left: 80px;
  min-width: 80%;
  float: none;
  padding: 8px 0;
}

.step-selected >a {
  font-size: 1.1em;
}


.m-pre-desc{
  padding: 10px;
  width: auto;
}

.dd-body{
  font-size: 1.1em;
}

.dd-list-head{
  font-size: 1.1em;
}


/*** score ***/


.m-score-name, .m-prescore-name{
  width: 25%;
  font-weight: 600;
}

.m-prescore-name~div{
  width: 18.75%;
}

.m-score-org{
  width: 20%;
}

.m-score-funding{
  width: 20%;
}

.m-score-preScore, .m-score-location{
  width: 12%;
}

.m-score-detail{
  width: 35%;
}

.m-score-detail > ul{
  display: inline-flex;
}

.m-demoday-score{
}

.m-demoday-score > button{
  margin: 5px 10px 15px 30px;
}

.dd-decision{
  max-height: 40%;
}


.star-rating{
  display: inline-block;
  width: 100%;
  font-size: 1.6em;
  padding-right: 1px;
}

.star-rating-label{
  display: inline-block;
  width: 100%;
  font-size: 0.6em;
  line-height: 16px;
  vertical-align: bottom;
  text-align: center;
}

.star-rating-list{
  display: inline-block;
  width: 100%;
  text-align: right;
}

.demoday-scores > .star-rating{
  text-align: center;
}

.demoday-scores > .star-rating > .star-rating-label{
  width: auto;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

.demoday-scores > .star-rating > .star-rating-list{
  width: auto;
  text-align: center;
}


@media (max-width: 600px) {
  div.dd-detail > div{
    margin-left: 10px;
    min-width: 80%;
    float: none;
    padding: 8px 0;
  }

  div.m-score-item > div.m-score-name, .m-prescore-name{
    text-align: left;
    padding-left: 5px;
  }



  .m-demoday-score > button{
    margin-right: 0;
  }
}