<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL"/>
	</settings>

	<typeAliases>
		<typeAlias alias="CompanySearchVO" type="com.tsb.company.vo.CompanySearchVO" />
		<typeAlias alias="CompanyVO" type="com.tsb.company.vo.CompanyVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/read/companyVO-read.xml" />
	</mappers>
</configuration>
