<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"
          name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title> 据说这是一份价值千万的融资秘籍 </title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel = "Shortcut Icon" href=../public/pic/icon.png>
</head>
<body>
<div class="container">
    <div class="page home">

        <div class="home-main">

            <div class="left-part">
                <div class="content">
                    <div>小样儿！想看秘籍？先考考你,</div>
                    <div>有没有这个本事吧!</div>
                </div>
            </div>

            <div class="right-part">
                <div class="title"><div class="book-name">融资秘籍</div></div>
            </div>


        </div>

        <div class="start">
            <button class="btn home-btn" onclick="start()">试试吧，怕你啊</button>
        </div>

    </div>

    <div class="page game step1">
        <div class="game-main main1">
            <div class="game-left">
                <div class="game-content">
                    <div class="select1" onclick="step1(1)">
                        <div class="rank1"></div>
                        <div class="item">等我变成行业专家吧!</div>
                    </div>
                    <div class="select2" onclick="step1(2)">
                        <div class="rank2"></div>
                        <div class="item">初生牛犊不怕虎，我有想法我最行!</div>
                    </div>
                    <div class="select3" onclick="step1(3)">
                        <div class="rank3"></div>
                        <div class="item"> 瞅准时机，果断下手!</div>
                    </div>
                    <div class="select4" onclick="step1(4)">
                        <div class="rank4"></div>
                        <div class="item"> 先兼职干着，做出Demo再正式创业.</div>
                    </div>
                </div>
            </div>

            <div class="game-right">
                <div class="game-title">
                    <div class="game-title-top"></div>
                    <div class="game-title-content">
                        <span class="page-rank">1<span class="slash">/</span>7</span>你认为创业的最佳时机是<span class="mark-padding">?</span>
                    </div>
                    <div class="game-title-bottom"></div>
                </div>
            </div>

        </div>
    </div>


    <div class="page game step2">
        <div class="game-main main2">

            <div class="game-left">
                <div class="game-content">
                    <div class="select1" onclick="step2(1)">
                        <div class="rank1"></div>
                        <div class="item">某某行业我最牛，就干这个了!</div>
                    </div>
                    <div class="select2" onclick="step2(2)">
                        <div class="rank2"></div>
                        <div class="item">听说某某行业是蓝海啊，要不去分杯羹!</div>
                    </div>
                    <div class="select3" onclick="step2(3)">
                        <div class="rank3"></div>
                        <div class="item"> 某某行业正是风口啊，是猪都能飞!</div>
                    </div>
                    <div class="select4" onclick="step2(4)">
                        <div class="rank4"></div>
                        <div class="item"> 我们不生产项目，我们只是硅谷项目的搬运工</div>
                    </div>
                </div>
            </div>

            <div class="game-right">
                <div class="game-title">
                    <div class="game-title-top"></div>
                    <div class="game-title-content">
                        <span class="page-rank">2<span class="slash">/</span>7</span>决定创业了！选什么项目呢<span class="mark-padding">?</span>
                    </div>
                    <div class="game-title-bottom"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="page game step3">
        <div class="game-main main3">

            <div class="game-left">
                <div class="game-content">
                    <div class="select1" onclick="step3(1)">
                        <div class="rank1"></div>
                        <div class="item">我要全明星团队!</div>
                    </div>
                    <div class="select2" onclick="step3(2)">
                        <div class="rank2"></div>
                        <div class="item">直接挖同行的大牛来做带队人</div>
                    </div>
                    <div class="select3" onclick="step3(3)">
                        <div class="rank3"></div>
                        <div class="item">找朋友介绍靠谱队友</div>
                    </div>
                    <div class="select4" onclick="step3(4)">
                        <div class="rank4"></div>
                        <div class="item">节约成本，全家一起上</div>
                    </div>
                </div>
            </div>

            <div class="game-right">
                <div class="game-title">
                    <div class="game-title-top"></div>
                    <div class="game-title-content">
                        <span class="page-rank">3<span class="slash">/</span>7</span>项目想好了，该组建团队了！
                    </div>
                    <div class="game-title-bottom"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="page game step4">
        <div class="game-main main4">

            <div class="game-left">
                <div class="game-content">
                    <div class="select1" onclick="step4(1)">
                        <div class="rank1"></div>
                        <div class="item">点子为王，还怕没钱么？</div>
                    </div>
                    <div class="select2" onclick="step4(2)">
                        <div class="rank2"></div>
                        <div class="item">先自己凑点启动资金，等作出点数据再去融</div>
                    </div>
                    <div class="select3" onclick="step4(3)">
                        <div class="rank3"></div>
                        <div class="item">我就专业做业务，等着投资人主动上门</div>
                    </div>
                    <div class="select4" onclick="step4(4)">
                        <div class="rank4"></div>
                        <div class="item">包装个好故事，融个大价钱</div>
                    </div>
                </div>
            </div>

            <div class="game-right">
                <div class="game-title">
                    <div class="game-title-top"></div>
                    <div class="game-title-content">
                        <span class="page-rank">4<span class="slash">/</span>7</span>准备什么时候融资<span class="mark-padding">?</span>
                    </div>
                    <div class="game-title-bottom"></div>
                </div>
            </div>

        </div>
    </div>


    <div class="page game step5">
        <div class="game-main main5">

            <div class="game-left">
                <div class="game-content">
                    <div class="select1" onclick="step5(1)">
                        <div class="rank1"></div>
                        <div class="item">BP是啥？能吃么？</div>
                    </div>
                    <div class="select2" onclick="step5(2)">
                        <div class="rank2"></div>
                        <div class="item">我是海归学霸，我有专利技术，BP重要么？</div>
                    </div>
                    <div class="select3" onclick="step5(3)">
                        <div class="rank3"></div>
                        <div class="item">先去听听讲座或者问问专业人士该怎么写</div>
                    </div>
                    <!--
                    <div class="select4" onclick="step5(4)">
                        <div class="rank4"></div>
                        <div class="item">BP不就是屁屁踢？很难么？</div>
                    </div>
                    -->
                    <div class="select4" onclick="step5(5)">
                        <div class="rank4"></div>
                        <div class="item">把“数据”写好看点，嘿嘿嘿~</div>
                    </div>

                    <!--
                    <div class="select6" onclick="step5(6)">
                        <div class="rank6"></div>
                        <div class="item">我用“真心”打动投资人</div>
                    </div>
                    -->
                </div>
            </div>

            <div class="game-right">
                <div class="game-title">
                    <div class="game-title-top"></div>
                    <div class="game-title-content">
                        <span class="page-rank">5<span class="slash">/</span>7</span>该融资了！你的<span class="num-padding">B</span><span class="num-padding">P</span>长啥样<span class="mark-padding">?</span>
                    </div>
                    <div class="game-title-bottom"></div>
                </div>
            </div>

        </div>
    </div>


    <div class="page game step6">
        <div class="game-main main6">

            <div class="game-left">
                <div class="game-content list-5">
                    <div class="select1" onclick="step6(1)">
                        <div class="rank1"></div>
                        <div class="item">海投BP，总会有投资人被我打动.</div>
                    </div>
                    <div class="select2" onclick="step6(2)">
                        <div class="rank2"></div>
                        <div class="item">我姨妈的邻居的前同事的大表哥是投资人.</div>
                    </div>
                    <!--
                    <div class="select3" onclick="step6(3)">
                        <div class="rank3"></div>
                        <div class="item">听说现在流行众筹.</div>
                    </div>
                    -->
                    <div class="select3" onclick="step6(4)">
                        <div class="rank3"></div>
                        <div class="item">找融资顾问.</div>
                    </div>
                    <div class="select4" onclick="step6(5)">
                        <div class="rank4"></div>
                        <div class="item">勤跑路演，总会碰上伯乐的.</div>
                    </div>
                    <div class="select5" onclick="step6(6)">
                        <div class="rank5"></div>
                        <div class="item">我有很多土豪朋友！</div>
                    </div>
                </div>
            </div>

            <div class="game-right">
                <div class="game-title">
                    <div class="game-title-top"></div>
                    <div class="game-title-content">
                        <span class="page-rank">6<span class="slash">/</span>7</span><span class="num-padding">B</span><span class="num-padding">P</span>有了，找什么渠道融资呢<span class="mark-padding">?</span>
                    </div>
                    <div class="game-title-bottom"></div>
                </div>
            </div>

        </div>
    </div>


    <div class="page game step7">
        <div class="game-main main7">

            <div class="game-left">
                <div class="game-content list-5">
                    <div class="select1" onclick="step7(1)">
                        <div class="rank1"></div>
                        <div class="item">补贴烧钱，先圈用户.</div>
                    </div>
                    <div class="select2" onclick="step7(2)">
                        <div class="rank2"></div>
                        <div class="item">不忘初心，迅速升级产品.</div>
                    </div>
                    <div class="select3" onclick="step7(3)">
                        <div class="rank3"></div>
                        <div class="item">投放广告，销售攻坚，抢占市场.</div>
                    </div>
                    <div class="select4" onclick="step7(4)">
                        <div class="rank4"></div>
                        <div class="item">战略布局，投资收购下游企业.</div>
                    </div>
                    <div class="select5" onclick="step7(5)">
                        <div class="rank5"></div>
                        <div class="item">做出数据给投资人看，吸引下一轮投资.</div>
                    </div>
                </div>
            </div>

            <div class="game-right">
                <div class="game-title">
                    <div class="game-title-top"></div>
                    <div class="game-title-content">
                        <span class="page-rank">7<span class="slash">/</span>7</span>如果拿到融资，你打算怎么花<span class="mark-padding">?</span>
                    </div>
                    <div class="game-title-bottom"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="page result">
        <div class="result-main">
            <div class="share-hint">
            </div>

            <div class="result-contain">
                <div class="result-content">
                    <div>
                        你的融资成功率
                        <div class="result-padding">
                            <span id="result"></span>
                        </div>
                        <span class="percent">
                            %
                        </span>
                    </div>

                    <div>
                        所需时间
                        <span id="time"></span>
                    </div>

                </div>
            </div>

            <div class="result-action">
                <div>
                    <button class="btn btn-red" onclick="zhitou()"><p>想缩短融资时间</p><p>点击查看融资秘籍</p></button>
                </div>

                <div>
                <button class="btn btn-blue" onclick="retry()"><p>结果不满意？</p><p>再来一次</p></button>
                </div>

            </div>



        </div>
    </div>

    <div class="page zhitou">
        <div class="zhitou-main">
            <div class="zhitou-slogan">
                <p class="slogan1"><span class="import">大咖</span>直投</p>
                <p class="slogan2">你的BP到TS只有<span class="num-import">12</span>小时</p>
            </div>

            <div class="zhitou-info">
                <p><span class="num-large">5</span>月 @<span class="font-large">北京&上海</span></p>
            </div>

            <div class="zhitou-scan">
                <div class="div-scan">
                    <img class="img-scan" src="../public/pic/result/scan-form.jpg"/>
                </div>
                <div>
                    长按二维码，立即加入“烯牛快跑”
                </div>
            </div>

            <div class="zhitou-bp">
                或直投BP邮箱：BP@xiniudata.com
            </div>

            <div class="zhitou-logo">
                <img src="../public/pic/result/bg-logo.png" />
            </div>

        </div>
    </div>

</div>

<audio id="music" src="../public/music/Button51.wav"  hidden="true"  >
</audio>

</body>

<script src="../public/js/zepto.js"></script>
<script src="../public/js/zepto-fx.js"></script>

<script src="../public/js/weixin-1.0.js"></script>

<script>
    var ratio = 40;
    var time = 0;
    var share_time;
    var finish = false;

    function getWXConfig(){

        $.ajax({
            type: 'POST',
            url: 'http://lvzhou.gobivc.com/api/wechat/config/get',
            data: JSON.stringify({"url": window.location.href}),
            contentType: 'application/json',
            success: function(data){
                data = JSON.parse(data);

                wx.config({
//                    debug: true,
                    appId: data.appId, // 必填，公众号的唯一标识
                    timestamp: data.timestamp, // 必填，生成签名的时间戳
                    nonceStr: data.nonceStr, // 必填，生成签名的随机串
                    signature: data.signature,// 必填，签名，见附录1
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                });


                wx.ready(function() {
                    wx.checkJsApi({
                        jsApiList: ['onMenuShareTimeline'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                        success: function (res) {
                            console.log(res);
                        }
                    });

                    share();
                });
            }
        })
    }


</script>

<script>

    $(document).ready(function () {
        getWXConfig();

        var docWidth = $(document).width();
        var docHeight = $(document).height();
//        alert(docWidth)
//        alert(docHeight)
        if(docWidth > 400 && docWidth< 430){
            $('.game-main, .result-main').css('margin-left', docWidth-390+'px');
        }else if(docWidth >= 430){
            $('.game-main, .result-main').css('margin-left', '30px');
        }

        if(docWidth> 380 && docWidth < 430){
            $('.game-left').css('width', 360-74+'px');
        }
        else if(docWidth <= 380){
//            $('.game-left').css('width', docWidth*0.9-52+'px');
//            $('.game-right').css('width', '40px');
        }
        else{
            $('.game-left').css('width', '286px');
        }

        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) != 'micromessenger'){
            $('.share-hint').hide();
        }

        animate2();




    });

    function animate1(){
        $(".home-btn").animate({
            color : '#fff'
        }, 1500, 'ease-in-out', function(){
            animate2();
        })
    }

    function animate2(){
        $(".home-btn").animate({
            color : '#ED5565'
        }, 1500, 'ease-in-out', function(){
            animate1();
        })
    }

    function start(){
        $('.home').hide();
        $('.step1').show();
        $('.container').css('background', "url('../public/pic/game/bg-padding.png')");
        playMusic();
    }

    function step1(value){

        switch (value){
            case 1: ratio +=10;break;
            case 2: ratio +=3;break;
            case 3: ratio +=5;break;
            case 4: ratio -=3;break;
        }

        $('.step1').hide();
        $('.step2').show();
        playMusic();
    }

    function step2(value){

        switch (value){
            case 1: ratio +=10;break;
            case 2: ratio +=5;break;
            case 3: ratio -=5;break;
            case 4: ratio +=2;break;
        }

        $('.step2').hide();
        $('.step3').show();
        playMusic();
    }

    function step3(value){
        switch (value){
            case 1: ratio +=2;break;
            case 2: ratio +=6;break;
            case 3: ratio +=8;break;
            case 4: ratio -=10;break;
        }
        $('.step3').hide();
        $('.step4').show();
        playMusic();
    }

    function step4(value){
        switch (value){
            case 1: ratio -=8;break;
            case 2: ratio +=10;break;
            case 3: ratio +=5;break;
            case 4: ratio -=5;break;
        }
        $('.step4').hide();
        $('.step5').show();
        playMusic();
    }

    function step5(value){
        switch (value){
            case 1: ratio -=5;break;
            case 2: ratio +=0;break;
            case 3: ratio +=6;break;
            case 4: ratio -=0;break;
            case 5: ratio -=10;break;
            case 6: ratio -=0;break;
        }
        $('.step5').hide();
        $('.step6').show();
        playMusic();
    }

    function step6(value){
        switch (value){
            case 1:
                ratio -=5;
                time = '<div class="result-padding">2352</div>小时';
                share_time = '2352小时';
                break;
            case 2:
                ratio +=3;
                time = '<div class="result-padding">2171</div>小时';
                share_time = '2171小时';
                break;
            case 3:
                ratio +=5;
                time = '<div class="result-padding">1856</div>小时';
                share_time = '1856小时';
                break;
            case 4:
                ratio +=8;
                time = '<div class="result-padding">1984</div>小时';
                share_time = '1984小时';
                break;
            case 5:
                ratio -=5;
                time = '超出计算范围';
                share_time = '已超出系统计算范围';
                break;
            case 6:
                ratio -=10;
                time = '土豪是傻子吗？';
                share_time = '已超出系统计算范围';
                break;
        }

        $('.step6').hide();
        $('.step7').show();
        playMusic();
    }

    function step7(value){
        switch (value){
            case 1: ratio -=2;break;
            case 2: ratio +=8;break;
            case 3: ratio +=2;break;
            case 4: ratio -=5;break;
            case 5: ratio +=3;break;
        }
        $('.step7').hide();
        $('.result').show();
        $('#result').html(ratio>100?100:ratio);
        $('#time').html(time);
        finish = true;
        share();
        playMusic();
    }


    function zhitou(){
        $('.result').hide();
        $('.zhitou').show();
        $(".zhitou-main").animate({
            opacity: 1
        },500, 'ease-in')


//        var myElement = document.getElementById('mask');
//        var hammertime = new Hammer(myElement);
//        hammertime.on('pan', function(ev) {
//            $(".mask").animate({
//                opacity : 0
//            }, 300, 'ease-out', function(){
//                $('.mask').hide();
//                $('.zhitou-main').css('display', 'inline-block');
//
//            });
//
//        });
        playMusic();
    }

    function retry(){
        $('.result').hide();
        $('.step1').show();
        ratio = 40;
        time = 0;
        finish = false;
//        $('.mask').show();
        playMusic();
    }


    function share(){
        var title = '我的融资成功率' + ratio + '%，所需时间' + share_time+ '，来测测你的？';
        if (!finish) {
            title = '一本融资秘籍';
        }
        wx.onMenuShareTimeline({
            title: title, // 分享标题
            link: 'http://lvzhou.gobivc.com/h5/view/zhitou.html', // 分享链接
            imgUrl: 'http://lvzhou.gobivc.com/h5/public/pic/icon.png', // 分享图标
            success: function () {
//                alert('success');
            },
            cancel: function () {
//                alert('cancel');
            }
        })

        wx.onMenuShareAppMessage({
//            title: title, // 分享标题
            desc: title,
            link: 'http://lvzhou.gobivc.com/h5/view/zhitou.html', // 分享链接
            imgUrl: 'http://lvzhou.gobivc.com/h5/public/pic/icon.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    }

    function playMusic(){
        var music = document.getElementById('music');
        music.play();
    }

</script>

</html>