<div class="company-head-page">
   <ul class="company-header">
        <li class="company-title" > 
        	<span>
        		{{listInfo.listName}}
        		<i class="fa fa-lock" ng-show='listInfo.listStatus == 1001'></i>
	            <i class="fa fa-unlock-alt" ng-show='listInfo.listStatus == 1002'></i>
        	</span>
        	
        	
        </li>
                    
         <li class="prs pull-right" >
         
             <button id="list-share" class="btn btn-primary" ng-click="share()">
             	<span ng-show='listInfo.listStatus == 1001'>
             		{{'SHARE' |  translate}}
             	</span>
             	<span ng-show='listInfo.listStatus == 1002'>
             		{{'CLOSE_SHARE' |  translate}}
             	</span>
             </button>
         </li>
 		 
   </ul>

    <ul class="list-inline company-category" >
		
	    <li id="li-data" class="li-href">
	    	<a href="#/list/data?{{listInfo.listId}}" category-filter>
				<span class="fa-stack fa-lg">
	               <i class="fa fa-circle-thin fa-stack-2x"></i>
	               <i class="fa fa-table fa-stack-1x"></i>
				</span> 
				{{ 'Data' | translate}}
			</a>
        </li>
        
        <!--  
        <li id="li-trends" class="li-href">
       	  <a href="#/list/trends?{{listInfo.listId}}" category-filter>
		        <span class="fa-stack fa-lg">
			        <i class="fa fa-circle-thin fa-stack-2x"></i>
			        <i class="fa fa-signal fa-stack-1x"></i>
			    </span>
		      {{ 'TRENDS' | translate}}
	      </a>
        </li>
        -->
        
         <li class="pull-right" id="li-data">
         	
              <ul class="list-inline" >
                  
                  <li class="m-t-sm">
                  	<span class="company-count" ng-hide="total ==null">
                   		{{total}} 
                   		
		        		<span ng-show = "total <2">
		 		 		{{'COMPANY' | translate}}
			  			</span>
						<span ng-show = "total >1">
			        			{{'COMPANIES' | translate}}
			        		</span>
			       	  </span>
                  
                  </li>
                  
                  <li class="prs"  ng-controller="BasicModalCtrl"  ng-hide=' listSelectedCount == null|| listSelectedCount == 0'>


						 <button class="btn btn-success" ng-click="open('list')">
                      	  {{'ADD'|translate}} {{listSelectedCount}} {{'TO_OTHER_LIST'|translate}}
                        </button>

                        <button class="btn btn-danger" ng-click='deleteSelected()' >
                      	  {{'DELETE'|translate}} {{listSelectedCount}} {{'FROM_LIST'|translate}}
                        </button>
                  </li>
              </ul>
          </li>
    </ul>

  </div>
  
  <script>
  	$(function(){
    	var url = window.location.href;
    	if(url.indexOf('data') > 0)	$('#li-data').addClass('cate-active');
    	if(url.indexOf('trends') > 0)	$('#li-trends').addClass('cate-active');
    	//if(url.indexOf('events') > 0) $('#li-events').addClass('cate-active');
  	})
  
  </script>